

:root {
    --primary-color: #1AADFF   ;
    --secondary-color: #291711 ;
    --accent1-color: #FF8811;
    --accent2-color: #548C2F;
    --accent3-color: #2E4057;



}



/* container that holds body content */
#content {
    max-width: 1600px;
    margin: 0 auto;
}


/* Nav content */
.logo {
    width: 80px;
}

nav a {
    text-align: center;
    color: var(--primary-color);
    text-decoration: none;
}

nav a:hover {
    background-color: var(--accent1-color);
}

nav a:hover {
    color: var(--accent3-color);
}


/* main body content */
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

#hero-img {
    width: 100%;
}

.home-title {
    color: var(--secondary-color);
}

h4 {
    color: var(--accent3-color);
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

body {
    background-color: var(--primary-color);
}

header {
    background-color: var(--secondary-color);
}

.book, .join {
    background-color: var(--accent1-color);
    color: var(--accent3-color);
    text-decoration: none;
}

.book:hover, .join:hover {
    background-color: var(--accent2-color);
    color: var(--accent3-color);
}

.icon {
    width: 80px;
}

#background {
    height: 725px;
    background-color: var(--accent1-color);
}

.msg {
    background-color: var(--accent2-color);
}

.msg h2 {
    color: var(--accent3-color);
}

.msg p {
    color: var(--secondary-color);
}


/* footer */
footer {
    background-color: var(--secondary-color);
}

footer p {
    font-size: 1.5em;
}

footer a {
    color: var(--primary-color);
    text-decoration: none;
}

footer a:hover {
    color: var(--accent1-color);
}

footer p a:hover {
    text-decoration: underline;
}