@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');
@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Ultra&display=swap');

:root {
    /* change the values below to your colors from your palette */
    --primary-color: #CA4238   ;
    --secondary-color: #F99A1E ;
    --accent1-color: #8EB55E;
    --accent2-color: #BC8544;
  
    /* change the values below to your chosen font(s) */
    --heading-font: 'Ultra', serif;
    --paragraph-font: 'Inter', sans-serif;;
  
    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: #CA4238;  /* headlines on a white background */ 
    --headline-color-on-color: black; /* headlines on a colored background */ 
    --paragraph-color-on-white: #BC8544; /* paragraph text on a white background */ 
    --paragraph-color-on-color: black; /* paragraph text on a colored background */ 
    --paragraph-background-color: #BC8544  ;
    --nav-link-color: #CA4238;
    --nav-background-color: #8EB55E;
    --nav-hover-link-color: #F99A1E;
    --nav-hover-background-color: #BC8544;
  }

  /* container that holds body content */
#content {
    max-width: 1600px;
    margin: 0 auto;
}

/* Nav content */
.logo {
    width: 80px;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

nav {
    display: flex;
    justify-content: space-around;
    overflow: hidden;
}

nav a {
    text-align: center;
    color: var(--primary-color);
    text-decoration: none;
    padding:35px;
}

nav a:hover {
    background-color: var(--accent1-color);
    color: var(--accent2-color);
}


header {
    background-color: var(--secondary-color);
    display: grid;
    grid-template-columns: 150px auto;
}

.icon {
    display: none;
}
/*Main body content*/

body {
    background-color: var(--primary-color);
    font-family: var(--paragraph-font);
    font-size: 22px;
    padding: 0;
    margin: 0;
}

#hero-img {
    width: 100%;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero h1 {
    grid-column: 2/3;
    grid-row: 1/2;
    z-index: 1;
    margin-top: 250px;
    text-align: center;
    font-size: 60pt;
    text-shadow: 5px 5px 7px black;
}

.home-title, .about-title {
    color: var(--primary-color);
    font-family: var(--heading-font);
    font-size: 2em;
    margin-top: 10px;
}

#hero p {
    grid-column: 2/3;
    grid-row: 3/4;
    text-align: center;
    font-size: 40px;
    padding: 50px;
}

.home-grid{
    display: grid;
    grid-template-columns: 45% 10% 45%;
    /*grid-template-rows: 1fr 80px 1fr 80px 1fr;*/
    grid-template-rows: 1fr 1fr 1fr;
}

.home-grid h3 {
    font-size: 50px;
    font-family: var(--heading-font);
}

.home-grid p, h3 {
    padding-left: 50px;
    padding-right: 50px;

}

.specials-card {
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: var(--accent1-color);
    box-shadow: 10px 5px 5px black;
}

.specials-gap {
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: var(--accent1-color);
}

.specials-img {
    grid-column: 3/4;
    grid-row: 1/2;
    width: 100%;
    height: 100%;
    box-shadow: 10px 5px 5px black;
}

.events-img {
    grid-column: 1/2;
    /*grid-row: 3/4;*/
    grid-row: 2/3;
    width: 100%;
    height: 100%;
    box-shadow: 10px 5px 5px black;
    
}

.events-gap {
    grid-column: 2/3;
   /*grid-row: 3/4;*/
   grid-row: 2/3;
    background-color: var(--secondary-color);
}

.events-card {
    grid-column: 3/4;
    /*grid-row: 3/4;*/
    grid-row: 2/3;
    background-color: var(--secondary-color);
    box-shadow: 10px 5px 5px black;
}

.location-card {
    grid-column: 1/2;
    /*grid-row: 5/6;*/
    grid-row: 3/4;
    background-color: var(--accent2-color);
    font-size: 50px;
    box-shadow: 10px 5px 5px black;
}

.location-gap {
    grid-column: 2/3;
    grid-row: 3/4;
    background-color: var(--accent2-color);
    box-shadow: 10px 5px 5px black;
}

.location-img {
    grid-column: 3/4;
    grid-row: 3/4;
    width: 100%;
    height: 100%;
    box-shadow: 10px 5px 5px black;
   
}

/*about us page styles*/

.about-grid {
    display: grid;
    grid-template-columns: 10% 80% 10%;
}


.about-body-title {
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: center;
    color: var(--accent1-color);
    font-family: var(--heading-font);
    font-size: 60px;
    text-shadow: 5px 5px 7px black;
}

.about-grid p:nth-of-type(1) {
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: center;
    padding: 50px;
    margin: 0;
    background-color: var(--secondary-color);
    box-shadow: 10px 5px 5px black;
}

.about-img {
    grid-column: 2/3;
    grid-row: 3/4;
    width: 100%;
    box-shadow: 10px 5px 5px black;
}

.about-grid p:nth-of-type(2) {
    grid-column: 2/3;
    grid-row: 4/5;
    text-align: center;
    padding: 50px;
    margin: 0;
    background-color: var(--accent1-color);
    box-shadow: 10px 5px 5px black;
}

.contact-form {
    grid-column: 2/3;
    grid-row: 5/6;
    margin: auto;
    box-shadow: 10px 5px 5px black;
}

input[type=text], input[type=tel], select, textarea {
    width: 80%; /*  width */
    padding: 12px; /* Some padding */ 
    border: 1px solid black; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
    background-color: var(--secondary-color);
}
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: var(--accent1-color);
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }

  .aboutform {
    list-style-type: none;
  }
  
  /* Add a background color and some padding around the form */
  .contact-form {
    width: 100%;
  }
  
  .container {
    border-radius: 5px;
    background-color: var(--accent2-color);
    padding: 20px;
    width: auto;
  }

.container h4 {
    color: var(--primary-color);
    font-family: var(--heading-font);
    font-size: 40px;
    text-shadow: 5px 5px 7px black;
}

/*menu page style*/

.menu-grid {
    display: grid;
    grid-template-columns: 10% 80% 10%;
}

.menu-grid img{
    width: 100%;
}

.menu-grid h3{
    color: var(--primary-color);
    font-family: var(--heading-font);
    font-size: 60px;
    text-shadow: 5px 5px 7px black;
}

.menu-grid p {
    margin: 50px;
}

.menu-pizza {
    grid-column: 2/3;
    grid-row: 1/2;
    background-color:var(--secondary-color);
    box-shadow: 10px 5px 5px black;
}

.menu-wings {
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: var(--accent2-color);
    box-shadow: 10px 5px 5px black;
}

.menu-salads {
    grid-column: 2/3;
    grid-row: 3/4;
    background-color: var(--accent1-color);
    box-shadow: 10px 5px 5px black;
}


/*footer*/
footer {
    background-color: var(--secondary-color);
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer p {
    font-size: 1.5em;
}

footer a {
    color: var(--primary-color);
    text-decoration: none;
}

footer a:hover {
    color: var(--accent1-color);
}

footer p a:hover {
    text-decoration: underline;
}

footer .social img {
    padding-top: 15px;
}


/*small screen width !!caution all standard CSS needs 
to be above this section!!*/
@media screen and (max-width: 900px) {
    #hero, .home-grid, .rivers-grid{
        display: block;
        height: auto;
    }
    
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }

    #hero {
        margin-top: 0;
    }

    #hero p {
        font-size: 22pt;
    }

    #hero h1 {
        margin-top: 0px;
        background: var(--accent2-color);
        color: var(--primary-color);
    }

    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin:  auto;
        width: 60%;
        padding: 20px;
    }

    .home-grid h3 {
        padding: 20px 50px 20px 50px;
        margin: 0;
    }

    .home-grid p {
        padding: 20px 50px 20px 50px;
        margin: 0;
    }

    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    .rivers-header1, .rivers-header2, .rivers-header3 {
        margin-left: 10%;
    }
    .river-image1, .river-image3, .river-image2 {
        width: 500px;
        height: 240px; 
        margin-left: 10%;   
    }

/*about us*/



.about-body-title{
    margin: 0;
}

.about-grid p:nth-of-type(1), .about-grid p:nth-of-type(2) { 
    padding: 30px;
}

.container {
    width: auto;
}

    footer {
        margin-top: 25px;
    }
}
 